<div class="jumbtron">
  <table align="center">
    <tr>
      <td>
  <div class="card" style="width: 18rem;">
      <img src="assets\images\vegetables.jpg" class="card-img-top" alt="vegetables">
      <div class="card-body">
        <h5 class="card-title text-center">Vegetables</h5>
        <div class="card-footer text-center">
            <button class="btn btn-primary  btn-sm"
            id="center" [routerLink]="['/vegetables']">
        Click here </button>
        </div>
      </div>
    </div>
  </td>
  <td>
      <div class="card" style="width: 18rem;">
          <img src="assets\images\mobiles.jpg" class="card-img-top" alt="vegetables">
          <div class="card-body">
            <h5 class="card-title text-center">Mobiles</h5>
            <div class="card-footer text-center">
                <button class="btn btn-primary  btn-sm"
                id="center" [routerLink]="['/mobiles']">
            Click here </button>
            </div>
          </div>
        </div>
  </td>
  </tr>
  <tr>
      <td>
  <div class="card" style="width: 18rem;">
      <img src="assets\images\cars.jpg" class="card-img-top" alt="vegetables">
      <div class="card-body">
        <h5 class="card-title text-center">Cars</h5>
        <div class="card-footer text-center">
            <button class="btn btn-primary  btn-sm"
            id="center" [routerLink]="['/cars']" >
        Click here </button>
        </div>
      </div>
    </div>
  </td>
  <td>
      <div class="card" style="width: 18rem;">
          <img src="assets\images\tshirts.jpg" class="card-img-top" alt="vegetables">
          <div class="card-body">
            <h5 class="card-title text-center">T-Shirts</h5>
            <div class="card-footer text-center">
                <button class="btn btn-primary  btn-sm"
                id="center" [routerLink]="['/tshirts']">
            Click here </button>
            </div>
          </div>
        </div>
  </td>
  </tr>
  </table>
</div>

